/*
  style.css
  Landing Page Exercise
  Leif Anderson 7/7/17
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkgrey;
  width: 976px;
}

#the-dojo {
  width: 200px;
}

h1 {
  display: inline-block;
}

p {
  display: inline-block;
  width: 400px;
}
